<li data-name="<%= queue.name %>">
  <h3><%= queue.name %></h3>
  <h4 class="active"><span><%= queue.data.active %></span> <small>active</small></h4>
  <h5 class="inactive"><span><%= queue.data.inactive %></span> <small>queued</small></h5>
  <h5 class="completed"><span><%= queue.data.completed %></span> <small>completed</small></h5>
</li>
